<%= form_for(@cant) do |f| %>
  <% if @cant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cant.errors.count, "error") %> prohibited this cant from being saved:</h2>

      <ul>
      <% @cant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :prov_id %><br>
    <%= f.text_field :prov_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
