<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tipo.name %>
</p>

<p>
  <strong>Categ:</strong>
  <%= @tipo.categ %>
</p>

<%= link_to 'Edit', edit_tipo_path(@tipo) %> |
<%= link_to 'Back', tipos_path %>
