<p id="notice"><%= notice %></p>

<h1>Listing Provs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provs.each do |prov| %>
      <tr>
        <td><%= prov.name %></td>
        <td><%= link_to 'Show', prov %></td>
        <td><%= link_to 'Edit', edit_prov_path(prov) %></td>
        <td><%= link_to 'Destroy', prov, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prov', new_prov_path %>
