<%= form_for(@parr) do |f| %>
  <% if @parr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parr.errors.count, "error") %> prohibited this parr from being saved:</h2>

      <ul>
      <% @parr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cant_id %><br>
    <%= f.collection_select(:cant_id, Cant.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
