<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parr.name %>
</p>

<p>
  <strong>Cant:</strong>
  <%= @parr.cant %>
</p>

<%= link_to 'Edit', edit_parr_path(@parr) %> |
<%= link_to 'Back', parrs_path %>
