<%= form_for(@atractivo) do |f| %>
  <% if @atractivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atractivo.errors.count, "error") %> prohibited this atractivo from being saved:</h2>

      <ul>
      <% @atractivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripcion" %><br>
    <%= f.text_area :description %>
  </div>
    <div class="field">
    <%= f.label :prov_id, "Provincia:" %>
    <%= f.select :prov_id, options_for_select(@provs.collect { |prov|
      [prov.name.titleize, prov.id] }, 1), {}, { id: 'provs_select'} %>
  </div>
  <div class="field">
    <%= f.label :cant_id, "Canton:" %>
    <%= f.select :cant_id, options_for_select(@cants.collect { |cant|
      [cant.name.titleize, cant.id] }, 0), {}, { id: 'cants_select'} %>
  </div>
  <div class="field">
    <%= f.label :parr_id, "Parroquia:" %>
    <%= f.select :parr_id, options_for_select(@parrs.collect { |parr|
      [parr.name.titleize, parr.id] }, 0), {}, { id: 'parrs_select'} %>
  </div>
  <br>
  <div class="field">
    <%= f.label :categ_id, "Categoria" %>
    <%= f.select :categ_id, options_for_select(@categs.collect { |categ|
      [categ.name.titleize, categ.id] }, 1), {}, { id: 'categs_select'} %>
  </div>
  <div class="field">
    <%= f.label :tipo_id, "Tipo" %>
    <%= f.select :tipo_id, options_for_select(@tipos.collect { |tipo|
      [tipo.name.titleize, tipo.id] }, 0), {}, { id: 'tipos_select'} %>
  </div>
  <div class="field">
    <%= f.label :subtipo_id, "Subtipo" %>
    <%= f.select :subtipo_id, options_for_select(@subtipos.collect { |subtipo|
      [subtipo.name.titleize, subtipo.id] }, 0), {}, { id: 'subtipos_select'} %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Crear Atractivo" %>
  </div>
<% end %>
