<%= form_for @atractivo, :html => {:class => "form-horizontal center"} do |f| %>
  <% if @atractivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atractivo.errors.count, "error") %> prohibited this atractivo from being saved:</h2>

      <ul>
      <% @atractivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: "col-md-2 control-label" %><br>
    <div class="col-md-6">
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descripcion", class: "col-md-2 control-label" %><br>
    <div class="col-md-6">
      <%= f.text_area :description, class: "form-control", rows: "7" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :categ_id, "Categoria" , class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :categ_id, options_for_select(@categs.collect { |categ|
      [categ.name.titleize, categ.id] }, 1), {}, { id: 'categs_select', class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tipo_id, "Tipo" , class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :tipo_id, options_for_select(@tipos.collect { |tipo|
      [tipo.name.titleize, tipo.id] }, 0), {}, { id: 'tipos_select', class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subtipo_id, "Subtipo" , class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :subtipo_id, options_for_select(@subtipos.collect { |subtipo|
      [subtipo.name.titleize, subtipo.id] }, 0), {}, { id: 'subtipos_select', class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :prov_id, "Provincia:", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.select :prov_id, options_for_select(@provs.collect { |prov|
      [prov.name.titleize, prov.id] }, 1), {}, { id: 'provs_select', class: "form-control"} %>
     </div>
  </div>
  <div class="form-group">
    <%= f.label :cant_id, "Canton:", class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :cant_id, options_for_select(@cants.collect { |cant|
      [cant.name.titleize, cant.id] }, 0), {}, { id: 'cants_select', class: "form-control"} %>
     </div>
  </div>
  <div class="form-group">
    <%= f.label :parr_id, "Parroquia:", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.select :parr_id, options_for_select(@parrs.collect { |parr|
      [parr.name.titleize, parr.id] }, 0), {}, { id: 'parrs_select', :onchange => "centerMapByParroquia()", class: "form-control" } %>
    </div>
  </div>
   <div id="map-container">
      <div id="map-canvas"></div>
    </div>

  <br>
  <div class="form-group">
    <%= f.label :calle_principal, "Calle Principal", class: "col-md-2 control-label"%>
    <div class="col-md-6">
      <%= f.text_field :calle_principal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :numero_direccion, "Numero", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :numero_direccion, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :transversal_direccion, "transversal", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :transversal_direccion, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :barrio_direccion, "Barrio, Sector o Comuna", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :barrio_direccion, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sitio_cercano, "Sitio poblado mas cercano", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :sitio_cercano, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :altura, "Altura (msnm)", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :altura, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :clima, "Clima", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_area :clima, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :temperatura, "Temperatura(C)", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :temperatura, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :precipitacion, "Precipitacio pluviometrica (mm)", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :precipitacion, class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :latitud %>
  <%= f.hidden_field :longitud %>
  </br>
  <div class="form-group">
    <%= f.label :avatar, "Archivo fotografico", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.file_field :avatar %>
    <% if f.object.avatar? %>
      <%= image_tag f.object.avatar.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <%= f.submit "Crear Atractivo" %>
  </div>
<% end %>
