<%= form_for @atractivo, :html => {:class => "form-horizontal center"} do |f| %>
  <% if @atractivo.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@atractivo.errors.count, "error") %> prohibited this atractivo from being saved:</h2>

      <ul>
      <% @atractivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: "col-md-2 control-label" %><br>
    <div class="col-md-6">
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Descripcion", class: "col-md-2 control-label" %><br>
    <div class="col-md-6">
      <%= f.text_area :description, class: "form-control", rows: "7" %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :categ_id, "Categoria" , class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :categ_id, options_for_select(Categ.all.collect { |categ|
      [categ.name.titleize, categ.id] }, 1), {}, { id: 'categs_select', class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tipo_id, "Tipo" , class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :tipo_id, options_for_select(Tipo.all.collect { |tipo|
      [tipo.name.titleize, tipo.id] }, 0), {}, { id: 'tipos_select', class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subtipo_id, "Subtipo" , class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :subtipo_id, options_for_select(Subtipo.all.collect { |subtipo|
      [subtipo.name.titleize, subtipo.id] }, 0), {}, { id: 'subtipos_select', class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :prov_id, "Provincia:", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.select :prov_id, options_for_select(Prov.all.collect { |prov|
      [prov.name.titleize, prov.id] }, 1), {}, { id: 'provs_select', class: "form-control"} %>
     </div>
  </div>
  <div class="form-group">
    <%= f.label :cant_id, "Canton:", class: "col-md-2 control-label"%>
    <div class="col-md-6">
    <%= f.select :cant_id, options_for_select(Cant.all.collect { |cant|
      [cant.name.titleize, cant.id] }, 0), {}, { id: 'cants_select', class: "form-control"} %>
     </div>
  </div>
  <div class="form-group">
    <%= f.label :parr_id, "Parroquia:", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.select :parr_id, options_for_select(Parr.all.collect { |parr|
      [parr.name.titleize, parr.id] }, 0), {}, { id: 'parrs_select', :onchange => "centerMapByParroquia()", class: "form-control" } %>
    </div>
  </div>
   <div id="map-container">
      <div id="map-canvas"></div>
    </div>

  <br>
  <div class="form-group">
    <%= f.label :calle_principal, "Calle Principal", class: "col-md-2 control-label"%>
    <div class="col-md-6">
      <%= f.text_field :calle_principal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :numero_direccion, "Numero", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :numero_direccion, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :transversal_direccion, "transversal", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :transversal_direccion, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :barrio_direccion, "Barrio, Sector o Comuna", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :barrio_direccion, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sitio_cercano, "Sitio poblado mas cercano", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :sitio_cercano, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :altura, "Altura (msnm)", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :altura, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :clima, "Clima", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_area :clima, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :temperatura, "Temperatura(C)", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :temperatura, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :precipitacion, "Precipitación pluviometrica (mm)", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.text_field :precipitacion, class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :latitud %>
  <%= f.hidden_field :longitud %>
  </br>
  <div class="form-group">
    <%= f.label :avatar, "Archivo fotográfico", class: "col-md-2 control-label" %>
    <div class="col-md-6">
    <%= f.file_field :avatar %>
    <% if f.object.avatar? %>
      <%= image_tag f.object.avatar.thumb.url %>
    <% end %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary pull-right">
    <i class="icon-user icon-white"></i> Continuar
  </button>
<% end %>
<script type="text/javascript">
var map;

 // $(document).on('change' ,'#parrs_select', centerMapByParroquia());
var marker;
var geocoder;
function initialize() {

  //var directionsService = new google.maps.DirectionsService();
  //var directionsDisplay = new google.maps.DirectionsRenderer();

  var mapOptions = {
    center: new google.maps.LatLng(-0.1859053, -78.4848484),
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.NORMAL,
    panControl: true,
    scaleControl: false,
    streetViewControl: true,
    overviewMapControl: true
  };
  // initializing map
  map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
  //directionsDisplay.setMap(map);

  /*prov_select = document.getElementById("provs_select");
  provincia = prov_select.options[prov_select.selectedIndex].text;
  cant_select = document.getElementById("cants_select");
  canton = cant_select.options[cant_select.selectedIndex].text;
  parr_select = document.getElementById("parrs_select");
  parroquia = cant_select.options[parr_select.selectedIndex].text;

  poblado_cercano = document.getElementById("atractivo_sitio_cercano").value;
  if (!poblado_cercano) poblado_cercano = "Quito, Ecuador" ;
  var request = 
  {
    origin: parroquia+","+canton+","+provincia+",Ecuador",
    destination: poblado_cercano,
    travelMode: google.maps.DirectionsTravelMode.DRIVING
  };
  directionsService.route(request, function(response, status)
  {
      if (status == google.maps.DirectionsStatus.OK)
      {
        directionsDisplay.setDirections(response);
      }
  });
 */ 
  // geocoding 
  geocoder  = new google.maps.Geocoder();
  google.maps.event.addListener(map, 'click', function(e){

    if (marker) marker.setMap(null);
    marker = createMarker(getCurrentPosition(e), map, "Atractivo");
    document.getElementById("atractivo_latitud").value = e.latLng.lat();
    document.getElementById("atractivo_longitud").value = e.latLng.lng();
  });
}

function createInfoWindow(text){
  var infowindow = new google.maps.InfoWindow({
    content: text
  });
  return infowindow;
}

function centerMapByParroquia(){
  prov_select = document.getElementById("provs_select");
  provincia = prov_select.options[prov_select.selectedIndex].text;
  cant_select = document.getElementById("cants_select");
  canton = cant_select.options[cant_select.selectedIndex].text;
  parr_select = document.getElementById("parrs_select");
  parroquia = cant_select.options[parr_select.selectedIndex].text;

  ciudad = parroquia+","+canton+","+provincia+",Ecuador";

  geocoder.geocode( { 'address': ciudad }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
    } else {
      alert("Could not find location: " + location);
    }
  });
}

/*var parr_select = document.getElementById("parrs_select");
parr_select.addEventListener(
    'change', 
    function() {toggleSelect(this.id)},
    false
    );*/
function getCurrentPosition(e){
  var markercoords = new google.maps.LatLng(e.latLng.lat(),e.latLng.lng());
  return markercoords;
}

function createMarker(coords, map, title){
  return new google.maps.Marker({
    position: coords,
         map: map,
         title: title,
         draggable: true,
         animation: google.maps.Animation.DROP
  });
}
</script>
<style>
  #error_explanation {
    color: black;
    width: 100%;
    ul {
      color: black;
      margin: 0 0 30px 0;
    }
  }
  .field_with_errors {
    display: inline;
    padding: 0;
  }
  .field_with_errors label {
      color: black!important;
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&v=3.23&key=AIzaSyBJYFdplGeKUUEmGZ-vL4ydiSZ09Khsa_o&libraries=drawing&callback=initialize"></script>
