<p id="notice"><%= notice %></p>

<h1>Lista de Atractivos</h1>
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to new_atractivo_path, class: "btn btn-primary noVisited" do %>
  <i class="glyphicon glyphicon-pencil"> Nuevo</i>
<% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Atractivo</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Jerarquia</th>
      <th>Código Atractivo</th>
    </tr>
  </thead>

  <tbody>
    <% @atractivos.each do |atractivo| %>
      <tr>
        <td class="col-md-1">
          <%= link_to atractivo, :class => "noHover" do %>
          <%= image_tag atractivo.avatar_atractivos.first.avatar.thumb.url, :class => "img-thumbnail" if (atractivo.avatar_atractivos.present? && atractivo.avatar_atractivos.first.avatar?) %>
        <% end %>
        </td>
        <td class="col-md-2">
          <%= link_to atractivo, :class => "noHover" do %>
          <%= atractivo.name %>
        <% end %>
        </td>
        <td class="col-md-4">
          <% text = atractivo.description %>
          <%= truncate(text, :length => 150, :separator => ' ') do 
            link_to 'ver más', atractivo, :class=>"noHover" 
          end 
          %></td>
        <td class="col-md-1">
          <%= atractivo.jerarquia %>
          </td>
        <td class="col-md-8">
          <%= if (atractivo.codigo) then atractivo.codigo else link_to ("paso: " + atractivo.step.to_s + "/6"),
                "cuestionarios/nextstep?id=#{atractivo.id}", :class => "noHover"  end  %>
        </td>
      </tr>
    <% end %>
    <tr>
      <%= will_paginate @atractivos, renderer: BootstrapPagination::Rails %>
    </tr>
  </tbody>
</table>
<br>
</div>
<style>
  a.noVisited:visited {color: #ffffff;}
  a.noHover:hover { 
    color: #428bca;
    text-decoration: none;
    background: transparent;
  }
</style>

