<p id="notice"><%= notice %></p>

<h1>Lista de Atractivos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Parroquia</th>
      <th>Canton</th>
      <th>Provincia</th>
      <th>Subtipo</th>
      <th>Tipo</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atractivos.each do |atractivo| %>
      <tr>
        <td><%= atractivo.name %></td>
        <td><%= atractivo.description %></td>
        <td><%= atractivo.parr %></td>
        <td><%= atractivo.cant %></td>
        <td><%= atractivo.prov %></td>
        <td><%= atractivo.subtipo %></td>
        <td><%= atractivo.tipo %></td>
        <td><%= atractivo.categ %></td>
        <td><%= link_to 'Mostrar', atractivo %></td>
        <td><%= link_to 'Editar', edit_atractivo_path(atractivo) %></td>
        <td><%= link_to 'Destruir', atractivo, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Atractivo', new_atractivo_path %>
