<p id="notice"><%= notice %></p>
<p>
<%= image_tag @atractivo.avatar.url if @atractivo.avatar? %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @atractivo.name %>
</p>
<p>
  <strong>Código atractivo:</strong>
  <%= @atractivo.codigo %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @atractivo.description %>
</p>

<p>
  <strong>Parroquia:</strong>
  <%= @atractivo.parr %>
</p>

<p>
  <strong>Cantón:</strong>
  <%= @atractivo.cant %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @atractivo.prov %>
</p>

<p>
  <strong>Subtipo:</strong>
  <%= @atractivo.subtipo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @atractivo.tipo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @atractivo.categ %>
</p>

<p>
  <strong>Calle principal:</strong>
  <%= @atractivo.calle_principal %>
</p>
<p>
  <strong>Número de dirección:</strong>
  <%= @atractivo.numero_direccion %>
</p>
<p>
  <strong>Calle transversal:</strong>
  <%= @atractivo.transversal_direccion %>
</p>
<p>
  <strong>Barrio :</strong>
  <%= @atractivo.barrio_direccion %>
</p>
<p>
  <strong>Sitio más cercano :</strong>
  <%= @atractivo.sitio_cercano %>
</p>
<p>
  <strong>Altura:</strong>
  <%= @atractivo.altura %>
</p>
<p>
  <strong>Clima:</strong>
  <%= @atractivo.clima %>
</p>
<p>
  <strong>Temperatura:</strong>
  <%= @atractivo.temperatura %>
</p>
<p>
  <strong>Precipitación:</strong>
  <%= @atractivo.precipitacion %>
</p>

<%= link_to atractivos_path, class: "btn btn-primary" do %>
  <i class="glyphicon glyphicon-chevron-left"> Regresar</i>
<% end %>
