<p id="notice"><%= notice %></p>
<p>
<% @avatar_atractivos.each do |p|%>
  <%= image_tag p.avatar.url, :class => "img-responsive" if p.avatar? %>
<% end %>
</p>
<p>
  <strong>Nombre:</strong>
  <%= @atractivo.name %>
</p>
<p>
  <strong>Código atractivo:</strong>
  <%= @atractivo.codigo %>
</p>
<p>
  <strong>Jerarquia atractivo:</strong>
  <%= @atractivo.translateJerarquia %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @atractivo.description %>
</p>
<input type="hidden" name="atractivo[latitud]" id="atractivo_latitud" value="<%= @atractivo.latitud %>">
<input type="hidden" name="atractivo[longitud]" id="atractivo_longitud" value="<%= @atractivo.longitud %>">
<p>
  <strong>Parroquia:</strong>
  <%= @atractivo.parr %>
</p>

<p>
  <strong>Cantón:</strong>
  <%= @atractivo.cant %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @atractivo.prov %>
</p>
<br>
<div id="map-container">
      <div id="map-canvas"></div>
</div>
<br>
<p>
  <strong>Categoria:</strong>
  <%= @atractivo.categ %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @atractivo.tipo %>
</p>
<p>
  <strong>Subtipo:</strong>
  <%= @atractivo.subtipo %>
</p>
<p>
  <strong>Calle principal:</strong>
  <%= @atractivo.calle_principal %>
</p>
<p>
  <strong>Número de dirección:</strong>
  <%= @atractivo.numero_direccion %>
</p>
<p>
  <strong>Calle transversal:</strong>
  <%= @atractivo.transversal_direccion %>
</p>
<p>
  <strong>Barrio :</strong>
  <%= @atractivo.barrio_direccion %>
</p>
<p>
  <strong>Sitio más cercano :</strong>
  <%= @atractivo.sitio_cercano %>
</p>
<p>
  <strong>Altura:</strong>
  <%= @atractivo.altura %>
</p>
<p>
  <strong>Clima:</strong>
  <%= @atractivo.climate %>
</p>
<p>
  <strong>Temperatura:</strong>
  <%= @atractivo.climate.temperature if @atractivo.climate.present? %>
</p>
<p>
  <strong>Precipitación:</strong>
  <%= @atractivo.climate.precipitation if @atractivo.climate.present? %>
</p>

<%= link_to atractivos_path, class: "btn btn-primary noVisited" do %>
  <i class="glyphicon glyphicon-chevron-left"> Regresar</i>
<% end %>
<style>
  a.noVisited:visited {color: #ffffff;}
  a.noHover:hover { 
    color: #428bca;
    text-decoration: none;
    background: transparent;
  }
</style>
<script type="text/javascript">
var map;

var marker;
var geocoder;
function initialize() {

  //var directionsService = new google.maps.DirectionsService();
  //var directionsDisplay = new google.maps.DirectionsRenderer();
  lat = document.getElementById("atractivo_latitud").value;
  longi = document.getElementById("atractivo_longitud").value;
  coordenadas = new google.maps.LatLng(lat, longi);
  var mapOptions = {
    center: coordenadas,
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.NORMAL,
    panControl: false,
    scaleControl: false,
    streetViewControl: false,
    draggable: false,
    overviewMapControl: false
  };
  // initializing map
  map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
  //directionsDisplay.setMap(map);
  marker = createMarker(coordenadas, map, "Atractivo");
    

  /*prov_select = document.getElementById("provs_select");
  provincia = prov_select.options[prov_select.selectedIndex].text;
  cant_select = document.getElementById("cants_select");
  canton = cant_select.options[cant_select.selectedIndex].text;
  parr_select = document.getElementById("parrs_select");
  parroquia = cant_select.options[parr_select.selectedIndex].text;

  poblado_cercano = document.getElementById("atractivo_sitio_cercano").value;
  if (!poblado_cercano) poblado_cercano = "Quito, Ecuador" ;
  var request = 
  {
    origin: parroquia+","+canton+","+provincia+",Ecuador",
    destination: poblado_cercano,
    travelMode: google.maps.DirectionsTravelMode.DRIVING
  };
  directionsService.route(request, function(response, status)
  {
      if (status == google.maps.DirectionsStatus.OK)
      {
        directionsDisplay.setDirections(response);
      }
  });
 */ 
}

function createInfoWindow(text){
  var infowindow = new google.maps.InfoWindow({
    content: text
  });
  return infowindow;
}

/*var parr_select = document.getElementById("parrs_select");
parr_select.addEventListener(
    'change', 
    function() {toggleSelect(this.id)},
    false
    );*/

function createMarker(coords, map, title){
  return new google.maps.Marker({
    position: coords,
         map: map,
         title: title,
         draggable: false,
         animation: google.maps.Animation.DROP
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&v=3.23&key=AIzaSyBJYFdplGeKUUEmGZ-vL4ydiSZ09Khsa_o&libraries=drawing&callback=initialize"></script>
