<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @atractivo.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @atractivo.description %>
</p>

<p>
  <strong>Parroquia:</strong>
  <%= @atractivo.parr %>
</p>

<p>
  <strong>Canton:</strong>
  <%= @atractivo.cant %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @atractivo.prov %>
</p>

<p>
  <strong>Subtipo:</strong>
  <%= @atractivo.subtipo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @atractivo.tipo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @atractivo.categ %>
</p>

<p>
  <strong>Archivos fotograficos:</strong>
  <%= image_tag @atractivo.avatar.thumb.url if @atractivo.avatar? %>
</p>

<%= link_to 'Editar', edit_atractivo_path(@atractivo) %> |
<%= link_to 'Regresar', atractivos_path %>
