<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "GoogleMapsTut" %></title>
  <!--[if lt IE 9]>
  <%= javascript_include_tag "respond" %>
  <%= javascript_include_tag "html5shiv" %>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">
    <header>
    <%= render 'layouts/navigation' %>
    </header>

    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <%= render 'layouts/messages' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>     
      </div>  

    </div>
  </div>
                  
  <%= render 'layouts/footer' %>    

</body>
</html>
